@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');
*{
    padding:0;
    margin:0;
}
.fondoGaleria{
    background-color: black;
    
}
/* TITULOS*/
h2{
    color: #ffefd8;
}
/*MARGEN DE INICIO*/
.inicio{
    padding-top: 50px;
}
/*TAMAÑO CARRUSEL*/
.tamañoCarrusel{
    height: 480px;
}

/*FOOTER*/
.pie{
    background-color: gray;
    text-align: center;
    padding: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
/*AJUSTE DE GALERIA*/
.prueba{
    width: 100%;
}    

/*CONTENEDORES*/
.presentacion{
    display: grid;
    color: black;
    font-size: 1.5rem;
    padding-top: 10px;
    grid-template-areas: 
    
    "bloque1 bloque1"

    "bloque2 bloque2"

    "bloque3 bloque3"
    ;
    grid-column-gap: 50px;
    grid-template-columns: auto 100px;

}
.presentacion_bloques{
    grid-area: bloque1;
    animation-name: bloque1;
    animation-delay: 0s;
    animation-duration: 10s;
}
.presentacion_bloques1{
    grid-area: bloque2;
    grid-column-start: left;
    animation-name: bloque2;
    animation-delay: 0s;
    animation-duration: 10s;

}
.presentacion_bloques2{
    grid-area: bloque3;
    animation-name: bloque3;
    animation-delay: 0s;
    animation-duration: 10s;
}
/*ANIMACIONES*/
@keyframes bloque1{
        0%{
            transform: rotate(-50deg);
        }
        100%{
            transform: rotate(0);
        }
    
}
@keyframes bloque2{
    0%{
        transform: rotate(50deg);
    }
    100%{
        transform: rotate(0);
    }

}
@keyframes bloque3{
    0%{
        transform: rotate(-50deg);
    }
    100%{
        transform: rotate(0);
    }

}
/*BLOQUES*/
.presentacion_bloques, .presentacion_bloques2, .presentacion_bloques1{
    background-image: url("../imagenes/fondos/FondoBloque.jpeg");
    background-repeat: no-repeat;
    margin-top: 50px;
    height: 200px;
    letter-spacing: 4px;

}
/*ESPACIO EN LA PARTE SUPERIOR*/
.espacioDeLista, .acercaDeMi, .contacto, .nuestroEstudio, .resumen, .resumenAcercaDeMi, .resumenNuestroEstudio{
    padding: 100px;
}
/*TITULOS*/
h1, h2{
    font-family: 'Yuji Syuku', serif;

}
.listas{
    font-size: 2rem;
}
/*PARRAFOS*/
.resumen, .resumenAcercaDeMi, .resumenNuestroEstudio{
    font-size: 3rem;
    text-align: justify;
}
/*FOTOS*/
.fotoAcercaDeMi, .fotoNuestroEstudio{
    width: 100%;
}
@media (min-width: 320px) and (max-width: 480px){
    .resumen, .resumenAcercaDeMi, .resumenNuestroEstudio{
        font-size: 1rem;
        padding: 10px;
    }
    .presentacion_bloques, .presentacion_bloques2, .presentacion_bloques1{
        color: black;
        margin-top: 20px;
        height: 100px;
        font-size: 1rem;
        padding-bottom: 300px;
    }
    img{
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .resumen, .resumenAcercaDeMi, .resumenNuestroEstudio{
        font-size: 1rem;
        padding: 10px;

    }
    .presentacion_bloques, .presentacion_bloques2, .presentacion_bloques1{
        color: black;
        margin-top: 20px;
        height: 100px;
        font-size: 1rem;
        padding-bottom: 300px;
    }
    img{
        width: 100%;
    }
}

